# Test files; I shouldn't need more than these to test
loops/**
oggs/**

# Internal files
.vscode/**
**/.DS_Store
__pycache__/**

# Old versions that will be removed from the original computer soon
loop.py
loop_gui_old.py