# Test files; I shouldn't need more than these to test
loops/*
oggs/*

# IDE/FS internals
.vscode/*
**/.DS_Store

# Old versions that will be removed from the original computer soon
loop.py
loop_gui_old.py